@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply bg-gray-100 text-gray-700;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    @apply text-2xl font-bold text-red-500;
}
h2 {
    @apply text-xl font-bold my-4;
}
h3 {
    @apply text-lg font-bold my-4;
}
ul {
    @apply my-10;
}
p {
    @apply my-2;
}

/* header */
header {
    @apply bg-white;

    nav {
        @apply flex justify-between items-center gap-5 max-w-screen-lg px-12 py-4 mx-auto;
    }
    h1 {
        @apply mr-auto;
    }
    div {
        @apply flex gap-x-5;
    }
}

/* form elements */
form {
    @apply max-w-screen-sm;
}
input, select, textarea {
    @apply block w-full mt-2 mb-4 p-2;
}

/* custom classes */
.container {
    @apply max-w-screen-lg mx-auto px-12 py-8;
}
.card {
    @apply bg-white rounded border border-gray-200 px-3 py-3 my-2 flex justify-between items-center;
}
.highlight {
    @apply border-l-4 border-l-red-500;
}
.btn {
    @apply rounded px-3 py-2 bg-gray-200 cursor-pointer hover:bg-red-500 hover:text-white;
}

/* override default select element styling on Safari and iOS */
select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    @apply bg-white;
}
input {
    @apply bg-white;
}
